@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

.main1 {
    background-color: var(--light-grayish-blue);
}

.container {
    padding: 2rem 5%;
}

.section1 {
    padding: 3rem 5%;
}

.section1:first-child {
    background-color: var(--light-grayish-blue);
}

.title {
    width: 40%;
    margin-bottom: 20px;
}

.title>* {
    margin-bottom: 20px;
}

.row {
    display: flex;
    gap: 15px;
}

.col {
    flex: 1;

}

.col .card>* {
    margin: 15px 0;
}

.col .card h2 {
    margin-left: 50px;
}

.col .card p {
    margin-left: 30px;
}

.img {

    height: 100px;
    width: 100%;

}